* {
    font-family: 'Roboto', sans-serif;
}

body{
    margin: 0px;
}
/*-------------------------------------------------------------------------------------------------*/
.header{
    background-color: #1f2937;
    height: 540px;
    display: flex;
    flex-direction: column;
}

.menu-container{
    display: flex;
    justify-content: center;
}

    .menu{
        display: flex;
        flex-direction: row;
        width: 1052px;
        justify-content: space-between;
    }

        .header-logo{
        font-size: 24px;
        color: #f9faf8;
        font-weight: bolder;
        padding-top: 10px;
        }

        .links{
        display: flex;
        justify-content: space-evenly;
        color: #f9faf8;
        gap: 15px;
        padding-left: 10px;
        padding-right: 71px;
        margin-top: 10px;
        }

.hero-container{
    display: flex;
    justify-content: center;
}
        .hero{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 473px;
        gap: 20px;
        }

            .main-title{
            width: 550px;
            display: flex;
            flex-direction: column;
            gap: 10px;
            }
                .awesome{
                    font-size: 48px;
                    font-weight: 800;
                    color: #f9faf8;
                }
                .sub{

                }
                .button{
                    color: white;
                    background-color: #3882f6;
                    font-weight: 800;
                    display: flex;
                    height: 30px;
                    width: 100px;
                    justify-content: center;
                    align-items: center;
                    border-radius: 5px;

                }
            #main-photo{
            width: 425px;
            height: 215px;
            }


.links, .sub {
    color: #e5e7eb;
    font-size: 18px;
}

a{
    color: #e5e7eb;
    font-size: 18px;
}
/*-------------------------------------------------------------------------------------------------*/
.information-header{
    height: 550px;
    width: auto;
}

    .information-text{
        display: flex;
    }

    .photos{
        display: flex;
        justify-content: center;
        gap: 10px;
        height: 50px;
        width: 50px;
    }

        .sample-photo {
            width: 40px;
            height: 40px;
            border-radius: 25px;
        }
/*-------------------------------------------------------------------------------------------------*/
.quote-section{
    background-color: #e5e7eb ;
    height: 500px;
}
    .quote{
        font-size: 36px;
        font-style: light-italic;
        color: #1f2937;
    }
    .signature{
        font-size: 20px;
        font-weight: bold;
    }
/*-------------------------------------------------------------------------------------------------*/
.cta-section{
    height: 350px;
}

/*-------------------------------------------------------------------------------------------------*/
.footer{
    background-color: #1f2937;
    height: 100px;
}
/*-------------------------------------------------------------------------------------------------*/
