* {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

body{
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    height: auto;
    width: auto;
}
/*-------------------------------------------------------------------------------------------------*/
.header{
    background-color: #1f2937;
    height: 540px;
}

.menu-container{
    display: flex;
    justify-content: center;
}

    .menu{
        display: flex;
        flex-direction: row;
        width: 1000px;
        justify-content: space-between;
    }

        .header-logo{
        font-size: 24px;
        color: #f9faf8;
        font-weight: bolder;
        padding-top: 10px;
        }

        .links{
        display: flex;
        justify-content: space-evenly;
        color: #f9faf8;
        gap: 10px;
        padding-left: 10px;
        }

.hero-container{
    display: flex;
    justify-content: center;
    border: 5px red solid;
}
        .hero{
        display: flex;
        justify-content: center;
        align-items: flex-end;
        border: 5px red solid;
        }

            .main-title{
            border: 5px red solid;
            }
                .awesome{

                }
            .placeholder{
            width: 50px;
            height: 50px;
            background-color: grey;
            }


/*-------------------------------------------------------------------------------------------------*/
.information-header{
    height: 550px;
    width: auto;
}

.information-text{
    display: flex;

}

.photos{
    display: flex;
    justify-content: center;
    gap: 10px;
}

img {
    width: 200px;
    height: 200px;
    border-radius: 25px;
}
/*-------------------------------------------------------------------------------------------------*/
.quote-section{
    background-color: #e5e7eb ;
    height: 500px;
}
    .quote{
        font-size: 36px;
        font-style: light-italic;
        color: #1f2937;
    }
    .signature{
        font-size: 20px;
        font-weight: bold;
    }
/*-------------------------------------------------------------------------------------------------*/
.cta-section{
    height: 350px;
}

/*-------------------------------------------------------------------------------------------------*/
.footer{
    background-color: #1f2937;
    height: 100px;
}
/*-------------------------------------------------------------------------------------------------*/
